# Framework da API
fastapi
uvicorn[standard]

# Frameworks de IA e Orquestração
langchain
langchain-groq

# API de IA do Google para Embeddings
google-generativeai

# Processamento de Documentos
unstructured[all-docs]

# Ferramentas de Ambiente e Conexão
python-dotenv
sqlalchemy
psycopg2-binary
pgvector
requests