# Framework da API
fastapi
uvicorn[standard]

# Frameworks de IA e Orquestração
langchain
langgraph
langsmith
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters

# Processamento de Documentos (aqui está a mudança)
unstructured[all-docs]

# Modelos de Embedding e Transformers 
sentence-transformers
torch
transformers

# Ferramenta para carregar variáveis de ambiente
python-dotenv

# Para conectar ao PostgreSQL a partir do Python
sqlalchemy
psycopg2-binary

# Gerenciar requisições HTTP (ainda útil para baixar arquivos)
requests